<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%="Hola desde el controlador #{@controller_message}"%>


<%= link_to("Go to index",{:controller => 'welcome', :action => 'index'}) %>